nav#main-nav
    .row
        .container
            .logo
                a(href="index.html")
                    img(src="images/logo.png", alt="logo")

            .responsive
                i(data-icon="m").ion-navicon-round

            ul.nav-menu.list-unstyled
                li
                    a.smoothScroll(href="#header") Home
                li
                    a.smoothScroll(href="#about") About
                li
                    a.smoothScroll(href="#portfolio") Portfolio
                li
                    a.smoothScroll(href="#contact") Contact

.home#header
    .container
        .header-content
            h1 I'm
                span.typed
            p Frontend Developer, Scrum Master, Project Manager

            ul.list-unstyled.list-social
                li
                    a(href='#')
                        i.ion-social-facebook
                li
                    a(href='#')
                        i.ion-social-twitter
                li
                    a(href='#')
                        i.ion-social-instagram
                li
                    a(href='#')
                        i.ion-social-linkedin
